{% extends 'blog/base.html' %}

{% block content %}

<div class="cposts">
    <div class="text-center">
        <div class="compose" style="color: white; text-decoration: none;">SDA WONDERFUL GROUP! </div> </br>
        <ul>
            <li><img src="../static/martyna.jpg" alt="Martyna" width="200" height="200"><div class="Name">Martyna</div></li>
            <li><img src="../static/aurelija.jpg" alt="Aurelija" width="200" height="200"><div class="Name">Aurelija</div></li>
            <li><img src="../static/tomas.jpg" alt="Tomas" width="200" height="200"><div class="Name">Tomas</div></li>
            <li><img src="../static/andrius.jpg" alt="Andrius" width="200" height="200"><div class="Name">Andrius</div></li>
        </ul>
        <ul>
            <li><img src="../static/artur.jpg" alt="Artur" width="200" height="200"><div class="Name">Artur</div></li>
            <li><img src="../static/sigitas.jpg" alt="Sigitas" width="200" height="200"><div class="Name">Sigitas</div></li>
            <li><img src="../static/karolis.jpg" alt="Karolis" width="200" height="200"><div class="Name">Karolis</div></li>
        </ul>
        </br>
        <p class="compose" style="color: blue;text-decoration: none;">THIS GROUP CREATED THIS BLOG!</p>
    </div>
</div>

<div class="blockquote text-center" style="font-family: 'Inter';">
    
    <div class="github-embeds-container">
<div class="github-embeds"><a class="github-button" href="https://github.com/Ulumanshu/" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @tejxv on GitHub">Follow @Ulumanshu/</a></div>

<div class="github-embeds"><a class="github-button" href="https://github.com/Ulumanshu/training-blog/issues" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue Ulumanshu/training-blog on GitHub">Issue</a></div>

<div class="github-embeds"><a class="github-button" href="https://github.com/Ulumanshu/training-blog/generate/" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-repo-template" data-size="large" aria-label="Use this template Ulumanshu/training-blog on GitHub">Use this template</a></div>
</div>
  <br><small>not ready yet</small>
</div>

{% endblock %}