{% extends 'blog/base.html' %}

{% block content %}

<div class="cposts">
    <div class="text-center">
        <div class="compose" style="color: white; text-decoration: none;">Zis is ze very best and ze veri kul treining blog kryeited bai ze kulest paiton programerzz tym. Pys. </div>
    </div>
</div>

<div class="blockquote text-center" style="font-family: 'Inter';">
    
    <div class="github-embeds-container">
<div class="github-embeds"><a class="github-button" href="https://github.com/Ulumanshu/" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @tejxv on GitHub">Follow @Ulumanshu/</a></div>

<div class="github-embeds"><a class="github-button" href="https://github.com/Ulumanshu/training-blog/issues" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue Ulumanshu/training-blog on GitHub">Issue</a></div>

<div class="github-embeds"><a class="github-button" href="https://github.com/Ulumanshu/training-blog/generate/" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-repo-template" data-size="large" aria-label="Use this template Ulumanshu/training-blog on GitHub">Use this template</a></div>
</div>
  <br><small>not ready yet</small>
</div>

{% endblock %}