{% extends 'blog/base.html' %}
{% block content %}

<div>
    <p>
        You have visited this page
        {{ visits_count }}
        {% if visits_count <= 1 %}
            time
        {%else %}
            times
        {% endif %}
            ..
    </p>
</div>
{% if user.is_authenticated %}
<div class="cposts">
    <div class="text-center">
        <div class="compose" style="text-decoration: none;"><a href="{% url 'post_new' %}">Hi, <b>{{request.user}}!</b></a></div>
    </div>   
</div>
{% endif %}

{% for post in posts %}
<div class="cposts">
    <div class="blockquote text-center">
        <div class="posts">
            <div class="left-padding">
            	<div class="text-left" onclick="location.href='{% url 'post_detail' pk=post.pk %}';" style="cursor: pointer;">
                    <div class="post_title">{{ post.title|upper }}</div><div class="post_no">#{{ post.pk }}</div>
                </div>
                <div
                    class="blog_graph"
                    data-chart-type="{{ post.chart_type }}"
                    data-chart-date_from="{{ post.date_from }}"
                >
                    <div class="chart">

                    </div
                    <p>Loading!!!</p>
                </div>
                <div class="text">
                    <p>{{ post.text|truncatechars:200|linebreaksbr|urlize }}</p>
                </div>
                {% if post.text|length > 200 %}
                <div class="read-more" onclick="location.href='{% url 'post_detail' pk=post.pk %}';" style="cursor: pointer;">
                    <a href="{% url 'post_detail' pk=post.pk %}" title="Open Post"><i>Read remaining {{ post.text|wordcount }} words...</i></a>
                </div>
                {% endif %}
                <div class="date">        	
                    <p><b> — {{ post.author|default_if_none:"Anonymous User"}} {% if post.author.is_staff %}<span class="mod-badge">ADMIN</span>{% endif %}</b>
                        <div class="time">{{ post.published_date|date:"Y m j, H:i" }}
                    ({{ post.published_date|timesince }} ago)

                    {% if post.comments.count < 1 %}
                    <div class="comment-count">
                                <a class="btn btn-outline-primary" href="{% url 'post_detail' pk=post.pk %}">Add Comment</a>
                    </div>
                    {% elif post.comments.count == 1 %}
                    <div class="comment-count">
                                <a class="btn btn-outline-primary" href="{% url 'post_detail' pk=post.pk %}">{{ post.comments.count }} Comment</a>
                    </div>
                    {% elif post.comments.count > 1 %}
                    
                    <div class="comment-count">
                                <a class="btn btn-outline-primary" href="{% url 'post_detail' pk=post.pk %}">{{ post.comments.count }} Comments</a>
                    </div>
                    {% endif %}
                    </div>
                </div></p>
                    
                </div>
            </div>
        </div>
    </div>
    <script>
        document.onreadystatechange = () => {
            if (document.readyState === "complete") {
                console.log('I WORK');
                find_all_chart_elements();
            }
            else {
                window.onload = function () {
                    console.log('I WORK');
                    //find_all_chart_elements();
                };
            };
        }
        
    </script>
</div>
{% endfor %}
{% endblock %}